ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}


li a:hover {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logout_button {
    background-color: #ad1717;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
    float: right
    }

#logout_form {
    margin: auto;
    padding: 0px 0px;
    }

#logout {
    margin: auto;
    padding: 0px 0px;
    float: right;
        }